sesion2/jueves/cine.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="cine">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="pelicula">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titulo" type="xs:string"></xs:element>
                        <xs:element name="duracion" type="xs:int"></xs:element>
                        <xs:element name="clasificacion">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="tipo" type="xs:string"></xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="director" type="xs:string"></xs:element>
                        <xs:element name="sala" type="xs:int"></xs:element>
                        <xs:element name="horario" type="xs:string"></xs:element>
                    </xs:sequence>

                    <xs:attribute name="codigo" type="xs:int"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>