sesion2/jueves/gimnasio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gimnasio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sala" maxOccurs="unbounded"> 
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="uso" type="xs:string"></xs:element>
                            <xs:element name="capacidad" type="xs:int"></xs:element>
                            <xs:element name="hora-apertura" type="xs:int"></xs:element>
                            <xs:element name="hora-cierre" type="xs:int"></xs:element>
                            <xs:element name="monitor" type="xs:string" minOccurs="0" maxOccurs="2"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="numero-sala" type="xs:int"></xs:attribute>
                        <xs:attribute name="musica" type="xs:string" use="required"></xs:attribute>

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
