sesion2/02_usuarios.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- 
xs:schema es la etiqueta contenedora del XSD
xmlns xml Name Space

utilizaremos xs: como prefijo de las etiquetas del esquema
-->

<xs:element name="usuarios">
    <xs:complexType>    <!-- por que contiene otros elementos -->
        <xs:sequence>
            
            <xs:element name="usuario" maxOccurs="unbounded"> <!-- maxOccurs="unbounded" indica que podemos tener una cantidad indefinida de elementos hijo tipo usuario -->
                <xs:complexType>
                    <xs:sequence> 
                        <xs:element name="nombre" type="xs:string"></xs:element>
                        <xs:element name="edad" type="xs:int"></xs:element>
                        <xs:element name="estatura" type="xs:decimal" minOccurs="0"></xs:element>
                        <xs:element name="email" type="xs:string" minOccurs="1"
                        maxOccurs="unbounded"></xs:element>
                    </xs:sequence>

                    <!-- los atributos se definen dentro del complexType, pero fuera de la secuencia -->
                    <xs:attribute name="id" type="xs:int" use="required"></xs:attribute>

                </xs:complexType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>