sesion2/servidores.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- este XSD sí valida todo el documento de servidores.xml 
-->
  <xs:element name="servidores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="servidor" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"></xs:element>
              <xs:element name="ip" type="xs:string"></xs:element>


              <xs:element name="ssoo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="tipo" type="xs:string" use="optional"></xs:attribute>
                      <xs:attribute name="version" type="xs:string" use="required"></xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <!-- <xs:element name="usuario" type="xs:string"/> -->
              <xs:element name="usuario">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="root" />
                    <xs:element name="admin" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>


              <xs:element name="password" type="xs:string" minOccurs="0" />

              <!-- RESTRICCIONES DE POSIBLES VALORES -->
              <!-- puertos válidos 1 al 65535 -->
              <xs:element name="puerto">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="65535" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="fechaInstalacion" type="xs:date" minOccurs="1" maxOccurs="1"></xs:element>

              <xs:element name="urlServidor" type="xs:anyURI" minOccurs="1"></xs:element>

              <xs:element name="usuarios" minOccurs="0">
                <xs:complexType>
                  <xs:sequence> <!-- para obligar a que mantenga un orden específico -->
                    <xs:element name="usuario" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all> <!-- para no obligar a que mantenga un orden específico -->
                          <xs:element name="nombre" type="xs:string"></xs:element>
                          
                          
                          <!-- RESTRICCIONES DE TEXTO: con ENUMERATION-->
                          <xs:element name="rol">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="Developer" />
                                <xs:enumeration value="SysAdmin" />
                                <xs:enumeration value="Security" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>

                          <xs:element name="activo" type="xs:boolean"></xs:element>

                          <!-- ejemplo de uso de CHOICE -->
                          <xs:element name="autenticacion">
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="token" type="xs:string"></xs:element>
                                <xs:element name="password" type="xs:string"></xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>

                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" />

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>